@import "tailwindcss";

@layer base {
  html { 
    scroll-behavior: smooth; 
  }
}

@layer utilities {
  .text-outline { 
    -webkit-text-stroke: 1px rgb(6, 182, 212); 
    color: transparent; 
  }
}